html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
	/* Negative margin of footer height */
	margin: 0 auto -122px;
}

#navbar {
	margin: 0 0 10px;
}

#push, footer {
	height: 120px;
}

.dropfield {
	padding: 10px;
}

#term_content {
	overflow: auto;
}

#map_canvas {
	height: 400px;
}

#map_canvas img {
	max-width: none;
}

footer {
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #f2f2f2, #d4d4d4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#d4d4d4));
	background-image: -webkit-linear-gradient(top, #f2f2f2, #d4d4d4);
	background-image: -o-linear-gradient(top, #f2f2f2, #d4d4d4);
	background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffd4d4d4', GradientType=0);
	background-repeat: repeat-x;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	clear: both;
}

#footer_1 {
	color: #666;
	padding: 10px 0;
}

/* borderless tables */

.table-borderless td, .table-borderless th {
    border: 0;
}

/* DataTables custom */
table.dataTable td {
	text-align: center;
}

table.dataTable td, table.dataTable td {
	vertical-align: center;
	text-align: center;
}

.delete_row, .change_pw, .edit_row {
	display: block;
	width: 4em;
}


/* DataTables BootStrap */
div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
	max-width: none !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('../img/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../img/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../img/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../img/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../img/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

/* Scrolling */
div.dataTables_scrollHead table {
	margin-bottom: 0 !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

div.dataTables_scrollHead table thead tr:last-child th:first-child,
div.dataTables_scrollHead table thead tr:last-child td:first-child {
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

div.dataTables_scrollBody table {
	border-top: none;
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody tbody tr:first-child th,
div.dataTables_scrollBody tbody tr:first-child td {
	border-top: none;
}

div.dataTables_scrollFoot table {
	border-top: none;
}

/*
 * TableTools styles
 */
.table tbody tr.active td,
.table tbody tr.active th {
	background-color: #08C;
	color: white;
}

.table tbody tr.active:hover td,
.table tbody tr.active:hover th {
	background-color: #0075b0 !important;
}

.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active:nth-child(odd) th {
	background-color: #017ebc;
}

table.DTTT_selectable tbody tr {
	cursor: pointer;
	*cursor: hand;
}

div.DTTT .btn {
	color: #333 !important;
	font-size: 12px;
}

div.DTTT .btn:hover {
	text-decoration: none !important;
}

ul.DTTT_dropdown.dropdown-menu li:hover a {
	background-color: #0088cc;
	color: white !important;
}

/* bootstrap specific? */
/*@media (max-width: 767px) {
	footer {
		margin: 0 -20px;
		padding: 0 20px;
	}
}*/
